@charset "utf-8";
/* CSS Document */


body{
    padding:0000;
    margin:0;
    font:normal 11px/13px tahoma,arial,helvetica,sans-serif;
    color:ffffff;
    background:#c6902e;
    }
td,th,img,p,a,ul,h2,h3,form,input{
   padding:0;
   margin:0;
    }
img{border:none;}
a{text-decoration:none;
 outline:none;
 color:#ffffff;
}
ul{list-style-type:none;}
h2,h3{
font-size:0;
line-height:0;
text-indent:-2000px;
}

/*******background image********/

.bo{
    background:url(../image/dba home page.png) no-repeat;
	width:960px;
	height:720px;
	}
